.ts_menu {
       background: #CCCCFF;
       padding: 3px;
}

.ts_ddm {
       position:absolute;
       border:1px solid black;
       line-height:18px;
       z-index:100;
}

table.default {
	border: px 1 solid #333;
	padding: 3px;
}

table.default tr.header {
	background: #CCCCFF;
}	

table.default tr.rowone {
	background: #FFFFCC;
}

table.default tr.rowtwo {
	background: #CCCCCC;
}	

table.viewcdrs {
	border: px 0 solid #333;
	padding: 0px;
	border-style: none;
	font-size: small;
}

table.viewcdrs tr.header {
	background: #CCCCFF;
}	

table.viewcdrs tr.rowone {
	background: #FFFFCC;
}

table.viewcdrs tr.rowtwo {
	background: #CCCCCC;
}	

BODY {
	font-family:serif;
	color: #000000;
	background-color: #FFFFFF;
}

ERROR {
	font-family:serif;
	color: #FF0000;
}	

H2 {font-size:180\%}
	
COPYRIGHT {font-size:50\%}
	
ACTION {
	font-size:130\%;	
	font-weight:bold;
	vertical-align:middle;
}

h3 {
	color:#000000;
	background-color:#FFCC00;
}

h4 {
	color:#000000;
	background-color:#FFCC00;
}

h5 {
	color:#000000;
	background-color:#FFCC00;
}

h6 {
	color:#000000;
	background-color:#FFCC00;
}

table.menu {
	border: px 0 solid #333;
	padding: 0px;
	border-style: none;
}
