<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>account_range</tech_name>
	<name>Account Number Range</name>
	<description>Set your own account number range</description>		
	<icon>static/images/account_range_icon.png</icon>
	<version>1.0.0</version>
	<license>Enterprise</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
