<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>language_italian</tech_name>
	<name>Italian Language</name>
	<description></description>		
	<icon>static/images/language_italian.png</icon>
	<version>1.0.0</version>
	<license>Community</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
