<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>acl_management</tech_name>
	<name>ACL Management</name>
	<description>To configure list of permissions defines what network entities are allowed to have access</description>		
	<icon>static/images/acl_management.png</icon>
	<version>2.0.0</version>
	<license>Enterprise</license>	
	<author>Inextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
