<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>demo</tech_name>
	<name>Demo</name>
	<description>Create your own addon.</description>		
	<icon>static/images/demo.png</icon>
	<version>1.0.0</version>
	<license>Community</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
