<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>custom_rates</tech_name>
	<name>Custom Rates</name>
	<description>Apply custom rates to customers.</description>		
	<icon>static/images/scustom_rates_icon.png</icon>
	<version>1.0.0</version>
	<license>Enterprise</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
