<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>portednumber</tech_name>
	<name>Ported Number (South Africa)</name>
	<description>Enable South African Number Portability feature

</description>		
	<icon>static/images/schedule_report_icon.png</icon>
	<version>2.0.0</version>
	<license>Enterprise</license>	
	<author>Inextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
