<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>countryreports</tech_name>
	<name>Country Reports</name>
	<description>Get country wise Total calls, Total used Minutes and Total Charges made with advance Filters</description>
	<icon>static/images/countryreports_icon.png</icon>
	<version>2.0.0</version>
	<license>Enterprise</license>	
	<author>Inextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
