<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>fm_addon</tech_name>
	<name>Switch Monitoring</name>
	<description>Enable easy access to FreeSwitch Console and real-time list of registered SIP Devices, Gateways and live calls in the graph</description>		
	<icon>static/images/alarm_icon.png</icon>
	<version>1.0.0</version>
	<license>AGPL-3</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
