<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>fraud_detection_v2.0</tech_name>
	<name>Fraud Detection v2.0</name>
	<description>Secure your business from hackers by setting different fraud detection parameters</description>		
	<icon>static/images/fraud_detection_v2.0_icon.png</icon>
	<version>2.0.0</version>
	<license>Enterprise</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
