.onoffswitch {
    position: relative; width: 50%; float: left;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
    
}
.onoffswitch-label {
    /*display: block;*/
    overflow: hidden; cursor: pointer;
    border: 1px solid #999999; 
    /*width: 50%;*/
     width: 72.8px;
    /*margin-right: 5px;*/
    height: 22px;
    /*border-radius: 4px;*/
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner_enable {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner_on {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner_true {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after,
.onoffswitch-inner_enable:before,
.onoffswitch-inner_enable:after,
.onoffswitch-inner_on:before,
.onoffswitch-inner_on:after,
.onoffswitch-inner_true:before,
.onoffswitch-inner_true:after
{
    display: block; float: left; width: 42%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Active";
    value: '0';
    padding-left: 4px;
    background-color: #5cb85c; color: #fff;
}
.onoffswitch-inner:after {
    content: "Inactive";
    value: '1';
    background-color: #d2322d; color: #fff;
    text-align: center;
    margin-left: 22.4px;
}
.onoffswitch-inner_enable:before {
    content: "Enable";
    value: '0';
    padding-left: 4px;
    background-color: #5cb85c; color: #fff;
}
.onoffswitch-inner_enable:after {
    content: "Disable";
    value: '1';
    background-color: #d2322d; color: #fff;
    text-align: center;
    margin-left: 22.4px;   
}

.onoffswitch-inner_on:before {
    content: "Off";
    value: '0';
    background-color: #d2322d; color: #fff;
    text-align: center;
    margin-left: 22.4px;
}
.onoffswitch-inner_on:after {
    content: "On";
    value: '1';
    padding-left: 4px;
    background-color: #5cb85c; color: #fff;
}
.onoffswitch-inner_true:after {
    content: "FALSE";
    value: '0';
    background-color: #d2322d; color: #fff;
    text-align: center;
    margin-left: 22.4px;
}
.onoffswitch-inner_true:before {
    content: "TRUE";
    value: '1';
    padding-left: 4px;
    background-color: #5cb85c; color: #fff;
}


.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner_enable {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch_enable {
    right: 0px; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner_on {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch_on {
    right: 0px; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner_true {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch_true {
    right: 0px; 
}
