/*
add new css for ibposs module
*/
.onoffswitch {
    position: relative;
    width: 50%;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.onoffswitch-checkbox {
    display: none
}

.onoffswitch-label {
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 70.8px;
    height: 22px;
    border-radius: 5px;
    margin-bottom: 0
}

.onoffswitch-inner,
.onoffswitch-inner_enable,
.onoffswitch-inner_on,
.onoffswitch-inner_true {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin .3s ease-in 0s
}

.onoffswitch-inner:after,
.onoffswitch-inner:before,
.onoffswitch-inner_accept:after,
.onoffswitch-inner_accept:before,
.onoffswitch-inner_enable:after,
.onoffswitch-inner_enable:before,
.onoffswitch-inner_on:after,
.onoffswitch-inner_on:before,
.onoffswitch-inner_true:after,
.onoffswitch-inner_true:before {
    display: block;
    float: left;
    width: 34%;
    height: 32px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: 700;
    box-sizing: border-box
}

.onoffswitch-inner:before {
    content: "Active";
    value: '0';
    padding-left: 4px;
    background-color: #5cb85c;
    color: #fff
}

.onoffswitch-inner:after {
    content: "Inactive";
    value: '1';
    background-color: #d9534f;
    color: #fff;
    text-align: center;
    margin-left: 22.4px
}

.onoffswitch-inner_enable:before {
    content: "Enable";
    value: '0';
    padding-left: 4px;
    background-color: #5cb85c;
    color: #fff
}

.onoffswitch-inner_enable:after,
.onoffswitch-inner_on:before {
    background-color: #d2322d;
    margin-left: 22.4px;
    color: #fff;
    text-align: center
}

.onoffswitch-inner_enable:after {
    content: "Disable";
    value: '1'
}

.onoffswitch-inner_on:before {
    content: "Off";
    value: '0'
}

.onoffswitch-inner_on:after {
    content: "On";
    value: '1';
    padding-left: 4px;
    background-color: #5cb85c;
    color: #fff
}

.onoffswitch-inner_true:after {
    content: "FALSE";
    value: '0';
    background-color: #d2322d;
    color: #fff;
    text-align: center;
    margin-left: 22.4px
}

.onoffswitch-inner_true:before {
    content: "TRUE";
    value: '1';
    padding-left: 4px;
    background-color: #5cb85c;
    color: #fff
}

.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999;
    border-radius: 20px;
    transition: all .3s ease-in 0s
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner,
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner_enable,
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner_on,
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner_true {
    margin-left: 0
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch,
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch_accept,
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch_enable,
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch_on,
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch_true {
    right: 0
}

.onoffswitch-inner_accept {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin .3s ease-in 0s
}

.onoffswitch-inner_accept:before {
    content: "Accept";
    value: '0';
    padding-left: 4px;
    background-color: #5cb85c;
    color: #fff
}

.onoffswitch-inner_accept:after {
    content: "Drop";
    value: '1';
    background-color: #d2322d;
    color: #fff;
    text-align: center;
    margin-left: 22.4px
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner_accept {
    margin-left: 0
}
