.sidebar {
    /*position: absolute;*/
    top: 0px;
    bottom: 0px;
    width: 190px;
    display: block;
    left: 0;
    margin-top: 0px;
}

.sidebar:before{
 content:"";
    position:fixed;
    display:block;
    width:190px;
    bottom:0;
    top:0;
    left:0px;    
    -webkit-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    -moz-box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    box-shadow:0 0 10px 0 rgba(0,0,0,.2);
    background : #000000 none repeat scroll 0 0;
}
.sidebar .sidemenu {
    padding: 0px;
    margin: 0px;
}
.page-wrap .navbar-toggler{
        display: none !important;
}
.sidebar .sidemenu li {
    width: 100%;
    list-style-type: none;
    display: block;
    position: relative;
}
.sidebar .sidemenu li.active, .sidebar .sidemenu li:hover {
    color: #FFF;
    position: relative;
    background: #004470 none repeat scroll 0 0;
}

.sidebar .sidemenu li.active > a {
    background-color: transparent;
    color: #f3f3f3;
}
.sidebar .sidemenu li a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color : #bbc0cf;
    padding :8px 15px 8px 12px;
    position: relative;
   
}
.sidebar .sidemenu li a:hover{
	color:#fff;
}
#main-wrapper {
    background: transparent none repeat scroll 0% 0% !important;
    width: calc(100% - 190px);
    float: right;
    top: 0 !important;
}
.tabcontents{
    margin-top:-15px !important;
}
@media screen and (min-width:992px){
    .sidebar.collapse{
        display:block!important;
        height:auto!important;
        padding-bottom:0;
        overflow:visible!important
    }   
}
@media screen and (max-width:991px){
    #main-wrapper {
        width: 100%;
    }
    .sidebar{
        position: absolute;
	    z-index:9;
    }
    .page-wrap .navbar-toggler{
        display: block !important;
    }
}