<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>foip</tech_name>
	<name>FoIP</name>
	<description>Enable Fax over IP features such as web2fax, email2fax and fax2email</description>		
	<icon>static/images/foip_icon.png</icon>
	<version>1.0.0</version>
	<license>Enterprise</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
