<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>ported_number_generic</tech_name>
	<name>Ported Number Generic</name>
	<description>Create Ported Number Generic Requestand Verify by Admin</description>		
	<icon>static/images/number_porting_icon.png</icon>
	<version>1.0.0</version>
	<license>Enterprise</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
