<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>shadow_billing</tech_name>
	<name>Shadow Billing</name>
	<description>Shadow Billing is used to Apply hidden charge on original cost of call amount When it's enable.</description>		
	<icon>static/images/shadow_billing_icon.png</icon>
	<version>2.0.0</version>
	<license>Enterprise</license>	
	<author>Inextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
