<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>number_portability_service</tech_name>
	<name>Number Portability Service</name>
	<description>Simplify the whole process of number portability to provide a seamless experience to customers</description>	
	<icon>static/images/ported_number_generic_icon</icon>
	<version>2.0.0</version>
	<license>Enterprise</license>	
	<author>Inextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
