<?xml version="1.0" encoding="UTF-8"?>
<addon>
	<tech_name>personalized_rates</tech_name>
	<name>Personalized Rates</name>
	<description>Apply personalized rates to customers.</description>		
	<icon>static/images/scustom_rates_icon.png</icon>
	<version>1.0.1</version>
	<license>Enterprise</license>	
	<author>iNextrix Technologies Pvt. Ltd.</author>
	<status>production</status>
</addon>
